<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<title>Taco Cloud</title>
	<link rel="stylesheet" th:href="@{/style.css}" />
  </head>
  <body>
	
	<form method="POST" th:action="@{/orders}" th:object="${order}">
		<h1>타코 주문하기!</h1>
		
		<img th:src="@{/images/TacoCloud.jpg}" /> <a th:href="@{/design}"
			id="another">다른 타코 만들기</a><br />

		<ul>
			<li th:each="taco : ${order.tacos}">
			<span th:text="${taco.name}">taco name</span></li>
		</ul>

		<div th:if="${#fields.hasErrors()}">
			<span class="validationError"> 아래의 문제를 해결하고 다시 주문해주세요! </span>
		</div>
		
		<h3>배송지 입력</h3>
		
		<label for=" deliveryName">이름*: </label> 
		<input type="text" th:field="*{deliveryName}" /> 
		<span class="validationError"
			th:if="${#fields.hasErrors('deliveryName')}"
			th:errors="*{deliveryName}">Name Error</span>
		<br /> 
			
		<label for="deliveryAddress">주소*: </label> 
		<input type="text" th:field="*{deliveryAddress}" /> 
		<span class="validationError"
			th:if="${#fields.hasErrors('deliveryAddress')}"
			th:errors="*{deliveryAddress}">Address Error</span>
		<br /> 
				
		<label for="deliveryZip">우편번호*: </label> 
		<input type="text" th:field="*{deliveryZip}" /> 
		<span class="validationError"
			th:if="${#fields.hasErrors('deliveryZip')}"
			th:errors="*{deliveryZip}">Zip Error</span>
		<br />
		
		<h3>신용카드</h3>
		<label for="ccNumber">카드번호: </label> 
		<input type="text" th:field="*{ccNumber}" /> 
		<span class="validationError"
			th:if="${#fields.hasErrors('ccNumber')}"
			th:errors="*{ccNumber}">CC Num Error</span>
		<br /> 
		
		<label for="ccExpiration">유효기간: </label> 
		<input type="text" th:field="*{ccExpiration}" /> 
		<span class="validationError"
			th:if="${#fields.hasErrors('ccExpiration')}"
			th:errors="*{ccExpiration}">CC Num Error</span>
		<br /> 
		
		<label for="ccCVV">CVV: </label> 
		<input type="text" th:field="*{ccCVV}" /> 
		<span class="validationError"
			th:if="${#fields.hasErrors('ccCVV')}"
			th:errors="*{ccCVV}">CC Num Error</span>
		<br />
		
		<input type="submit" value="주문하기" />
	</form>
  </body>
</html>